p {
    margin: 0;
    font-family: Lora;
}

.main {
    display: flex;
}

header {
    background-color: #33334D;
    margin: auto;
    font-family: Lora;
    font-weight: 100;
    text-align: center;
}

footer {
    background-color: #33334D;
    float: bottom;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: "Work Sans";
    font-size: 18px;
    text-align: center;
    color: #e0e0eb;
}

.itemContainer {
    display: flex;
    justify-content: space-around;
}

#photo {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin: auto;
    display: block;
}

h1 {
    display: inline-block;
    padding: 10px;
    font-size: 70px;
    margin-top: 10px;
    color: #e0e0eb;
    letter-spacing: 3px;
    font-family: "Work Sans";
    text-transform: uppercase;
    /*border: 4px solid #e0e0eb;*/
}

#tagline {
    font-size: 20px;
    padding: 20px;
    margin-top: -50px;
    color: #e0e0eb;
}

#left {
    background-color: #e0e0eb;
    width: 27%;
    float: left;
    display: inline-block;
}

#right {
    clear: right;
    display: inline-block;
    width: 65%;
}

h2 {
    font-family: "Work Sans";
    font-size: 30px;
    text-align: right;
    color: #33334D;
    margin-right: 35px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-transform: uppercase;
}

h3 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: "Work Sans";
    font-size: 30px;
    text-align: left;
    color: #33334D;
    margin-left: 35px;
    text-transform: uppercase;
}

.left {
    text-align: right;
    color: #33334D;
    margin-right: 35px;
}

.right {
    text-align: left;
    color: #33334D;
    margin-left: 35px;
}

.body {
    margin-bottom: 25px;
}

li {
    margin: 4px;
    font-family: Lora;
}

.media {
    height: 30px;
    margin-bottom: 20px;
}

h4 {
    color: #e0e0eb;
    font-size: 30px;
    text-transform: uppercase;
}

.interest {
    position: relative;
    width: 100%;
}

.interest > img {
    border-radius: 50%;
    height: 250px;
    width: 250px;
    -webkit-filter: grayscale(100%);
}

.interest > img:hover {
    -webkit-filter: grayscale(0%);
}

.interest > p {
    position: absolute;
    top: 110px;
    left: 110px;
    width: 30%;
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
}
